
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--Q9X {
  width: 100%;
  height: 80rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.item--Q9X .modal-date-picker-dark-u6H {
  width: 32.8rem;
  height: 35.6rem;
  position: absolute;
  left: 1.6rem;
  top: 8.2rem;
  overflow: hidden;
  background-color: #2a2f4f;
  border-radius: 2.8rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding: 1.2rem 1.7rem 0rem 1.2rem;
  width: 35.2rem;
  height: 35.2rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .local-selection-row-Ryj {
  margin: 0rem 3.1rem 1.6rem 1.6rem;
  width: calc(100% - 4.7rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .local-selection-row-Ryj .building-blocks-menu-button-dark-9eq {
  margin: 0.4rem 4rem 0.4rem 0rem;
  width: 14rem;
  height: calc(100% - 0.8rem);
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .local-selection-row-Ryj .building-blocks-menu-button-dark-9eq .state-layer-FSy {
  box-sizing: border-box;
  padding: 1rem 0.925rem 1rem 0.8rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .local-selection-row-Ryj .building-blocks-menu-button-dark-9eq .state-layer-FSy .label-text-B5j {
  margin-right: 1.325rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: 0.01rem;
  color: #cac4d0;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .local-selection-row-Ryj .building-blocks-menu-button-dark-9eq .state-layer-FSy .icon-5B7 {
  margin-top: 0.075rem;
  width: 0.75rem;
  height: 0.375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .local-selection-row-Ryj .controls-Bzq {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .local-selection-row-Ryj .controls-Bzq .icon-button-dark-xEu {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .local-selection-row-Ryj .controls-Bzq .icon-button-dark-tPT {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .days-of-the-week-2Vf {
  margin: 0rem 3.571rem 1.2rem 1.671rem;
  width: calc(100% - 5.2429rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .days-of-the-week-2Vf .date-wcd {
  margin-right: 3.0929rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .days-of-the-week-2Vf .date-G97 {
  margin-right: 3.0429rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .days-of-the-week-2Vf .date-nNM {
  margin-right: 3.0429rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .days-of-the-week-2Vf .date-i17 {
  margin-right: 3.0429rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .days-of-the-week-2Vf .date-dtm {
  margin-right: 3.2929rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .days-of-the-week-2Vf .date-A81 {
  margin-right: 3.3429rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .days-of-the-week-2Vf .date-HiR {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-1-Dc5 {
  margin: 0rem 1.9rem 0rem 1.3rem;
  width: calc(100% - 3.2rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-1-Dc5 .auto-group-qvzf-wY5 {
  width: 13.1rem;
  height: 100%;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-1-Dc5 .tuesday-ty7 {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 4rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-1-Dc5 .tuesday-ty7 .container-eSV {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-1-Dc5 .wednesday-kEd {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 4rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-1-Dc5 .wednesday-kEd .container-6JV {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-1-Dc5 .thursday-BKw {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 4rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-1-Dc5 .thursday-BKw .container-LCq {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-1-Dc5 .friday-qfP {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 4rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-1-Dc5 .friday-qfP .container-zYH {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK {
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .saturday-qoo {
  box-sizing: border-box;
  padding: 0.4rem 0.171rem 0.4rem 0.171rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .saturday-qoo .container-aWV {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #d0bcff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d0bcff;
  box-sizing: border-box;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .sunday-TqB {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .sunday-TqB .container-bwP {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .monday-7eq {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .monday-7eq .container-4py {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .tuesday-NKs {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .tuesday-NKs .container-KF7 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .wednesday-pxZ {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .wednesday-pxZ .container-mso {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .thursday-fiH {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .thursday-fiH .container-DUu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .friday-Knq {
  box-sizing: border-box;
  padding: 0.4rem 0.171rem 0.4rem 0.171rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-2-6bK .friday-Knq .container-4kR {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF {
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .saturday-Xtu {
  box-sizing: border-box;
  padding: 0.4rem 0.171rem 0.4rem 0.171rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .saturday-Xtu .container-59j {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .sunday-n49 {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .sunday-n49 .container-8Nu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .monday-Ewj {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .monday-Ewj .container-Zz1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .tuesday-H9K {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .tuesday-H9K .container-E4Z {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .auto-group-jnhh-Y5F {
  width: 13.0286rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .auto-group-jnhh-Y5F .wednesday-HoX {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 4.8rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .auto-group-jnhh-Y5F .wednesday-HoX .container-Qt9 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .auto-group-jnhh-Y5F .building-blocks-m3-calendar-cell-dark-7Xf {
  box-sizing: border-box;
  padding: 0.4rem 1.529rem 0.4rem 1.42rem;
  width: 6.9486rem;
  height: 4.8rem;
  cursor: pointer;
  position: absolute;
  left: 3.0943rem;
  top: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .auto-group-jnhh-Y5F .building-blocks-m3-calendar-cell-dark-7Xf .container-1d3 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #381e72;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d0bcff;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .auto-group-jnhh-Y5F .friday-Kdj {
  box-sizing: border-box;
  padding: 0.4rem 0.171rem 0.4rem 0.171rem;
  width: 4.3429rem;
  height: 4.8rem;
  cursor: pointer;
  position: absolute;
  left: 8.6857rem;
  top: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-3-BKF .auto-group-jnhh-Y5F .friday-Kdj .container-eR7 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX {
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .saturday-6nu {
  box-sizing: border-box;
  padding: 0.4rem 0.171rem 0.4rem 0.171rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .saturday-6nu .container-qkV {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .sunday-MD3 {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .sunday-MD3 .container-tyf {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .monday-aV7 {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .monday-aV7 .container-8Wd {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .tuesday-F5T {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .tuesday-F5T .container-b9K {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .wednesday-6Ly {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .wednesday-6Ly .container-qpM {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .thursday-x8H {
  box-sizing: border-box;
  padding: 0.4rem 0.1714rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .thursday-x8H .container-Vtu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .friday-oub {
  box-sizing: border-box;
  padding: 0.4rem 0.171rem 0.4rem 0.171rem;
  width: 4.3429rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-ftu9-gWM .week-4-MKX .friday-oub .container-MAR {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 {
  width: 100%;
  height: 4.8rem;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF {
  width: 29.1rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF .saturday-MZj {
  box-sizing: border-box;
  padding: 0.4rem 0.08rem 0.4rem 0.08rem;
  width: 4.16rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF .saturday-MZj .container-tpZ {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF .sunday-PmK {
  box-sizing: border-box;
  padding: 0.4rem 0.08rem 0.4rem 0.08rem;
  width: 4.16rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF .sunday-PmK .container-jKP {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF .monday-Sjb {
  box-sizing: border-box;
  padding: 0.4rem 0.08rem 0.4rem 0.08rem;
  width: 4.16rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF .monday-Sjb .container-NdF {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF .tuesday-63T {
  box-sizing: border-box;
  padding: 0.4rem 0.08rem;
  width: 4.16rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF .tuesday-63T .container-qFw {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF .wednesday-LyP {
  box-sizing: border-box;
  padding: 0.4rem 0.08rem;
  width: 4.16rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF .wednesday-LyP .container-6Sm {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
}
.item--Q9X .modal-date-picker-dark-u6H .auto-group-zkgp-RKX .local-calendar-grid-w2y .auto-group-l9md-rN5 .week-5-cMF .auto-group-zcuh-Ckh {
  width: 8.3rem;
  height: 100%;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D {
  width: 34.4rem;
  height: 52.7rem;
  position: absolute;
  left: 0.8rem;
  top: 45.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw {
  width: 100%;
  height: 44.7rem;
  position: relative;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-8-nD7 {
  width: 30.9rem;
  height: 2rem;
  position: absolute;
  left: 1.2rem;
  top: 40.3rem;
  display: flex;
  align-items: center;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-8-nD7 .item--VdK {
  margin-right: 19.7rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-8-nD7 .item-231220-Nh7 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-7-Vmj {
  width: 30.4rem;
  height: 2rem;
  position: absolute;
  left: 1.2rem;
  top: 35.3rem;
  display: flex;
  align-items: center;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-7-Vmj .item--cbT {
  margin-right: 16.8rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-7-Vmj .item-231205-231207-WB3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-6-DLM {
  width: 30.4rem;
  height: 2rem;
  position: absolute;
  left: 1.2rem;
  top: 30.3rem;
  display: flex;
  align-items: center;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-6-DLM .item--Lvm {
  margin-right: 14.9rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-6-DLM .item-231201-231203-3KP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-5-kUh {
  width: 30.9rem;
  height: 4rem;
  position: absolute;
  left: 1.2rem;
  top: 24.4rem;
  display: flex;
  align-items: center;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-5-kUh .item-5-2--sZK {
  margin-right: 14.5rem;
  max-width: 13rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-5-kUh .item-231127-EYH {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-4-LLR {
  width: 30.4rem;
  height: 4rem;
  position: absolute;
  left: 1.2rem;
  top: 19.3rem;
  display: flex;
  align-items: center;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-4-LLR .item-5-2--SuF {
  margin-right: 10.3rem;
  max-width: 13rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-4-LLR .item-230920-231120-iLy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-3-EKK {
  width: 30.4rem;
  height: 2rem;
  position: absolute;
  left: 1.2rem;
  top: 15.3rem;
  display: flex;
  align-items: center;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-3-EKK .item--MPw {
  margin-right: 11.3rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-3-EKK .item-231220-231221-1zH {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-2-94u {
  width: 30.4rem;
  height: 2rem;
  position: absolute;
  left: 1.2rem;
  top: 10.3rem;
  display: flex;
  align-items: center;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-2-94u .item--F7w {
  margin-right: 14.9rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-2-94u .item-230917-231130-wWZ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-1-G33 {
  width: 31.4rem;
  height: 4rem;
  position: absolute;
  left: 1.2rem;
  top: 4.3rem;
  display: flex;
  align-items: center;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-1-G33 .item-5-2--nXB {
  margin-right: 15rem;
  max-width: 13rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6666666667;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item-1-G33 .item-230915-dnh {
  text-align: right;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .line-1-MTo {
  width: 32rem;
  height: 0.1rem;
  position: absolute;
  left: 1.2rem;
  top: 3.8rem;
  background-color: #000000;
}
.item--Q9X .frame-3295-L6D .auto-group-1alj-Suw .item--HMT {
  width: 3.1rem;
  height: 2rem;
  position: absolute;
  left: 1.2rem;
  top: 1.15rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Q9X .frame-3295-L6D .rectangle-14-yk5 {
  width: 100%;
  height: 8rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--Q9X .down-hAH {
  width: 36rem;
  height: 6.5rem;
  position: absolute;
  left: 0;
  top: 73.5rem;
  box-shadow: 0 -0.5rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e5beec;
}
.item--Q9X .item--d3w {
  width: 1.5rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 31.2rem;
  top: 75.7rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: Font Awesome 6 Free, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Q9X .item--hpV {
  width: 1.5rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 24rem;
  top: 75.7rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: Font Awesome 6 Free, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Q9X .item--nb3 {
  width: 1.5rem;
  height: 2rem;
  position: absolute;
  left: 16.8rem;
  top: 75.7rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 0.8333333333;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Font Awesome 6 Free, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Q9X .item--VVT {
  width: 1.6rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 9.7rem;
  top: 75.8rem;
  display: flex;
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 0.7692307692;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: Font Awesome 6 Free, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Q9X .item--amo {
  width: 1.5rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 1.9rem;
  top: 75.7rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 0.8333333333;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: Font Awesome 6 Free, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Q9X .up-gK3 {
  width: 36rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  border: solid 0 #e5beec;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.item--Q9X .item--bB7 {
  width: 1.5rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 32.7rem;
  top: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Font Awesome 6 Free, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Q9X .item--Ukh {
  width: 4.4rem;
  height: 4.2rem;
  position: absolute;
  left: 15.8rem;
  top: 1.1rem;
  object-fit: cover;
  vertical-align: top;
}
.item--Q9X .item--oHB {
  width: 1.5rem;
  height: 2rem;
  position: absolute;
  left: 1.5rem;
  top: 2.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 0.8333333333;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Font Awesome 6 Free, 'Source Sans Pro';
  white-space: nowrap;
}
