
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 31.2rem;
}.basic-dialog-dark-VSq {
  width: 100%;
  height: 24rem;
}
.basic-dialog-dark-VSq .basic-dialog-dark-r2V {
  box-sizing: border-box;
  padding: 2.4rem 0rem 0rem 2.4rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #2a2f4f;
  border-radius: 2.8rem;
}
.basic-dialog-dark-VSq .basic-dialog-dark-r2V .title-description--NFj {
  margin-right: 3rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.basic-dialog-dark-VSq .basic-dialog-dark-r2V .title-description--NFj .headline-6xR {
  margin-bottom: 1.6rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #e6e0e9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.basic-dialog-dark-VSq .basic-dialog-dark-r2V .title-description--NFj .supporting-text-cQy {
  max-width: 25.8rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.025rem;
  color: #cac4d0;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.basic-dialog-dark-VSq .basic-dialog-dark-r2V .actions-XXw {
  box-sizing: border-box;
  padding: 2.4rem 0.8rem;
  width: 19.4rem;
  height: 8.8rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.basic-dialog-dark-VSq .basic-dialog-dark-r2V .actions-XXw .actions-f8M {
  width: 16.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.basic-dialog-dark-VSq .basic-dialog-dark-r2V .actions-XXw .actions-f8M .secondary-button-zwK {
  margin-right: 0.8rem;
  width: 7.7rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: 0.01rem;
  color: #d0bcff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
  flex-shrink: 0;
}
.basic-dialog-dark-VSq .basic-dialog-dark-r2V .actions-XXw .actions-f8M .primary-button-Gdw {
  width: 7.7rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: 0.01rem;
  color: #d0bcff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 10rem;
  flex-shrink: 0;
}
