
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 20rem;
}.check-form-HEq {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.check-form-HEq .property-1default-2CR {
  margin-bottom: 2rem;
  width: 100%;
  height: 4.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.check-form-HEq .property-1variant2-5Ah {
  box-sizing: border-box;
  padding: 1.05rem 4.15rem 1rem 1.6rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.check-form-HEq .property-1variant2-5Ah .item--o6h {
  margin: 0rem 1.25rem 0.05rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.01rem;
  color: #917fb3;
  font-family: Font Awesome 6 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.check-form-HEq .property-1variant2-5Ah .orginaltext-gwB {
  margin-top: 0.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: 0.01rem;
  color: #917fb3;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
