
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 18rem;
}.option-w7w {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.option-w7w .statedefault-F8d {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 1.5rem 4.6rem 1.5rem 2.4rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.option-w7w .statedefault-F8d .checkbox-x33 {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.option-w7w .statedefault-F8d .item--fTF {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.option-w7w .statechecked-NMf {
  box-sizing: border-box;
  padding: 1.5rem 4.6rem 1.5rem 2.4rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.option-w7w .statechecked-NMf .checkbox-6oT {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.option-w7w .statechecked-NMf .item--qW9 {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: S-Core Dream, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
