
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13.9rem;
}.form-button-XA1 {
  width: 100%;
  color: #ffffff;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  border-radius: 1.5rem;
  font-weight: 500;
  display: flex;
  box-sizing: border-box;
  background-color: #e5beec;
  height: 4.7rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2575;
  font-family: S-Core Dream, 'Source Sans Pro';
}
